In [1]:
import pandas as pd

data = pd.read_csv('selected_tokens.csv')

In [126]:
data.shape

(25962, 2545)

In [125]:
data.iloc[1368,:]

Unnamed: 0                  1368
Unnamed: 0.1                1368
communicate                    0
worry                          0
odd                            0
totally_useles                 0
face                           0
impressive                     0
whenever                       0
indoor                         0
screen                         0
let_register                   0
arm_disarm                     0
assign                         0
web_interface                  0
automatically_switch           0
brand                          0
son_drill                      0
wireless_rdquo                 0
operate_assumption             0
wonâ€™t                        0
review                         0
listen_music                   0
department                     0
let`                           0
brand_new                      0
first                          0
bp                             0
physically                     0
first_floor                    0
                          ...
shouldn`t                      0
hype                           0
position                       0
worth                          0
bell                           0
time_capsule                   0
half                           0
main                           0
small                          0
alert                          0
photo                          0
fire                           0
50_mbp                         0
five                           0
february                       0
wait_slight                    0
big_deal                       0
n300                           0
frustration                    0
stutter                        0
g                              0
mail_faulty                    0
next                           0
it`_shame                      0
specify                        0
nearly_worthles                0
send                           0
recognize                      0
fall                           0
Label                   content
Name: 1368, Length: 2545, dtype: object

In [22]:
del data['Unnamed: 0']

In [53]:
label.unique()

array(['product', 'tech support', 'marketing', 'content', 'other ', 'other'], dtype=object)

In [23]:
del data['Unnamed: 0.1']

In [22]:
features.head()

,communicate,worry,odd,totally_useles,face,impressive,whenever,indoor,screen,let_register,...,stutter,g,mail_faulty,next,it`_shame,specify,nearly_worthles,send,recognize,fall
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
label = data['Label']
features = data.iloc[:,:2542]
label.loc[label == 'content '] = 'content'

/Users/liuying/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [54]:
label.loc[label == 'other '] = 'other'

/Users/liuying/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [55]:
from sklearn.model_selection import train_test_split

x_train, x_test,y_train,y_test = train_test_split(features, label,test_size = 0.3, random_state = 0)

### Linear SVM

In [56]:
from sklearn import svm
lin_clf = svm.LinearSVC()
lin_clf.fit(x_train,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [57]:
y_pred = lin_clf.predict(x_test)

In [58]:
from sklearn.metrics import confusion_matrix
conf_mat = confusion_matrix(y_test, y_pred)

In [59]:
conf_mat

array([[ 352,    4,   22,  349,  231],
       [   6,  160,    4,   61,   14],
       [  24,   10,  236,  181,   67],
       [ 130,   31,   64, 3556,  364],
       [ 101,    8,   56,  601, 1157]])

In [63]:
from sklearn import metrics
print(metrics.classification_report(y_test, y_pred, target_names=label.unique()))

              precision    recall  f1-score   support

     product       0.57      0.37      0.45       958
tech support       0.75      0.65      0.70       245
   marketing       0.62      0.46      0.52       518
     content       0.75      0.86      0.80      4145
       other       0.63      0.60      0.62      1923

 avg / total       0.69      0.70      0.69      7789

#### unbalanced labels?

In [67]:
data.groupby('Label').count()

,communicate,worry,odd,totally_useles,face,impressive,whenever,indoor,screen,let_register,...,stutter,g,mail_faulty,next,it`_shame,specify,nearly_worthles,send,recognize,fall
Label,,,,,,,,,,,,,,,,,,,,,
content,3160,3160,3160,3160,3160,3160,3160,3160,3160,3160,...,3160,3160,3160,3160,3160,3160,3160,3160,3160,3160
marketing,791,791,791,791,791,791,791,791,791,791,...,791,791,791,791,791,791,791,791,791,791
other,1778,1778,1778,1778,1778,1778,1778,1778,1778,1778,...,1778,1778,1778,1778,1778,1778,1778,1778,1778,1778
product,13898,13898,13898,13898,13898,13898,13898,13898,13898,13898,...,13898,13898,13898,13898,13898,13898,13898,13898,13898,13898
tech support,6335,6335,6335,6335,6335,6335,6335,6335,6335,6335,...,6335,6335,6335,6335,6335,6335,6335,6335,6335,6335

### Exploratory Analysis

In [18]:
data.head()

,communicate,worry,odd,totally_useles,face,impressive,whenever,indoor,screen,let_register,...,g,mail_faulty,next,it`_shame,specify,nearly_worthles,send,recognize,fall,Label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,product
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,product
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,product
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,tech support
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,product

In [26]:
data['Label']=data['Label'].str.replace('content ','content')

In [28]:
data['Label']=data['Label'].str.replace('other ','other')

In [12]:
data.Label.value_counts()

product         13898
tech support     6335
content          3160
other            1778
marketing         791
Name: Label, dtype: int64

In [24]:
label = data['Label']
features = data.iloc[:,:2542]

In [25]:
features.head()

,communicate,worry,odd,totally_useles,face,impressive,whenever,indoor,screen,let_register,...,stutter,g,mail_faulty,next,it`_shame,specify,nearly_worthles,send,recognize,fall
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
features.dtypes

communicate             object
worry                   object
odd                     object
totally_useles          object
face                    object
impressive              object
whenever                object
indoor                  object
screen                  object
let_register            object
arm_disarm              object
assign                  object
web_interface           object
automatically_switch    object
brand                   object
son_drill               object
wireless_rdquo          object
operate_assumption      object
wonâ€™t                 object
review                  object
listen_music            object
department              object
let`                    object
brand_new               object
first                   object
bp                      object
physically              object
first_floor             object
location                object
reviewer                object
                         ...
nighthawk_ac2300        object
shouldn`t               object
hype                    object
position                object
worth                   object
bell                    object
time_capsule            object
half                    object
main                    object
small                   object
alert                   object
photo                   object
fire                    object
50_mbp                  object
five                    object
february                object
wait_slight             object
big_deal                object
n300                    object
frustration             object
stutter                 object
g                       object
mail_faulty             object
next                    object
it`_shame               object
specify                 object
nearly_worthles         object
send                    object
recognize               object
fall                    object
Length: 2542, dtype: object

In [53]:
features = features.convert_objects(convert_numeric=True)

/Users/liuying/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [67]:
total = np.array(features.sum(axis = 0))

In [58]:
word = features.columns

In [70]:
import numpy as np

word_count = np.column_stack((word,total))

In [78]:
rank = np.argsort(-total)

In [86]:
word_count = word_count[rank]

In [94]:
word_count[0:24]

array([['work', 11734.0],
       ['router', 11734.0],
       ['get', 7115.0],
       ['netgear', 7068.0],
       ['modem', 4841.0],
       ['wifi', 4455.0],
       ['buy', 4235.0],
       ['connect', 4135.0],
       ['one', 4109.0],
       ['device', 4046.0],
       ['product', 3857.0],
       ['would', 3719.0],
       ['time', 3637.0],
       ['internet', 3603.0],
       ['camera', 3221.0],
       ['try', 3096.0],
       ['support', 3051.0],
       ['go', 3012.0],
       ['need', 2726.0],
       ['use', 2710.0],
       ['issue', 2526.0],
       ['return', 2511.0],
       ['connection', 2405.0],
       ['day', 2380.0]], dtype=object)

### information score

In [3]:
import pandas as pd

info = pd.read_csv("rawdata_w_metrics.csv")

/Users/liuying/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
info.head()

,Unnamed: 0,id,Date,Brand,Product,Product ID,Rating,Source,Review Status,Review Status Date,...,Status,Replied To,Internal Comments,Permalink,unif,review_len,num_unique_words,num_exclamation,num_question,num_same_review
0,0,1,7/13/18,Netgear,Orbi,30947,1,amazon,Active,8/5/18,...,None,No,NaN,http://www.amazon.com/gp/customer-reviews/R28S...,0.048944,311,43,0,0,2
1,1,2677,7/13/18,Netgear,Orbi,21796,1,amazon,Active,7/16/18,...,None,No,NaN,http://www.amazon.com/gp/customer-reviews/R28S...,0.798543,311,43,0,0,2
2,2,2,7/13/18,Netgear,R6700,25069,1,amazon,Active,7/25/18,...,None,No,NaN,http://www.amazon.com/gp/customer-reviews/R3DY...,0.243274,402,54,0,0,1
3,3,3,7/13/18,Netgear,Cable Orbi,30578,Q&A,amazon,Active,7/14/18,...,None,No,NaN,http://www.amazon.com/ask/questions/Tx9IGXJ9AV...,0.165898,150,29,0,1,2
4,4,2711,7/13/18,Netgear,Orbi 4 pack,28503,Q&A,amazon,Active,7/13/18,...,Resolved,Yes,linked to find your orbi,http://www.amazon.com/ask/questions/Tx9IGXJ9AV...,0.941623,150,29,0,1,2

In [10]:
del info['Unnamed: 0']

In [11]:
info.columns

Index(['id', 'Date', 'Brand', 'Product', 'Product ID', 'Rating', 'Source',
       'Review Status', 'Review Status Date', 'Reviewer Name', 'Reviewer ID',
       'Review', 'Label', 'Review ID', 'Title', 'Syndicated',
       'Incentive Program', 'Verified Review', 'Price', 'Size', 'Color',
       'Edition', 'Style', 'Other Attributes', 'Helpful Votes',
       'Top Contributor', 'Media(Picture/Video)', 'Model', 'ASIN',
       'ASIN Reviews Link', 'SKU', 'Category', 'Tag', 'NPS',
       'Displayed Rating', 'Competitor', 'Sentiment Score',
       'Sentiment Magnitude', 'Status', 'Replied To', 'Internal Comments',
       'Permalink', 'unif', 'review_len', 'num_unique_words',
       'num_exclamation', 'num_question', 'num_same_review'],
      dtype='object')

In [4]:
score = info[['Review','review_len','num_unique_words','num_exclamation','num_question','num_same_review']]

In [34]:
score.dtypes

Review              object
review_len           int64
num_unique_words     int64
num_exclamation      int64
num_question         int64
num_same_review      int64
dtype: object

In [2]:
top_word = data[['word','router','support','modem','wifi','connect','get','phone','netgear','use','need',
                'internet','return','buy','one','device','product','camera','price','Label']]

In [5]:
info_score = pd.concat([score,top_word],axis = 1)

In [9]:
info_score.iloc[2:4,]

,Review,review_len,num_unique_words,num_exclamation,num_question,num_same_review,word,router,support,modem,...,need,internet,return,buy,one,device,product,camera,price,Label
2,Less than two years in and it`s a paperweight....,402,54,0,0,1,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,product
3,Does it do a good job boosting signal outside?...,150,29,0,1,2,0.0,2.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,tech support

In [49]:
score[['review_len','num_unique_words','num_exclamation','num_question','num_same_review']] = score[['review_len','num_unique_words',
                                                                                                     'num_exclamation','num_question',
                                                                                                     'num_same_review']].values.astype(float)

/Users/liuying/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/liuying/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [82]:
array = info_score[ 'review_len']

In [86]:
min_max_scaler = preprocessing.MinMaxScaler()
scaled_array = min_max_scaler.fit_transform(array)

In [130]:
scaled = []
for i in range(1,25):
    array = info_score.iloc[:,i]
    array = pd.DataFrame(array)
    min_max_scaler = preprocessing.MinMaxScaler()
    scaled_array = min_max_scaler.fit_transform(array)
    scaled.append(scaled_array)

In [64]:
names = info_score.columns

In [95]:
score[['review_len','num_unique_words','num_exclamation',
       'num_question','num_same_review']] = score[['review_len','num_unique_words',
                                                   'num_exclamation','num_question',
                                                   'num_same_review']].values.astype(float)

4

In [148]:
import numpy as np
standard = pd.DataFrame(np.hstack(scaled),columns = names)

In [67]:
names = names[1:25]

In [68]:
names

Index(['review_len', 'num_unique_words', 'num_exclamation', 'num_question',
       'num_same_review', 'word', 'router', 'support', 'modem', 'wifi',
       'connect', 'get', 'phone', 'netgear', 'use', 'need', 'internet',
       'return', 'buy', 'one', 'device', 'product', 'camera', 'price'],
      dtype='object')

In [84]:
array = pd.DataFrame(array)

In [87]:
scaled_array

array([[ 0.07608963],
       [ 0.07608963],
       [ 0.09849791],
       ...,
       [ 0.39374538],
       [ 0.39374538],
       [ 0.02560946]])

In [156]:
info_score.head()

,Review,review_len,num_unique_words,num_exclamation,num_question,num_same_review,word,router,support,modem,...,need,internet,return,buy,one,device,product,camera,price,Label
0,This router has been terrible. When it does wo...,311.0,43.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,product
1,This router has been terrible. When it does wo...,311.0,43.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,product
2,Less than two years in and it`s a paperweight....,402.0,54.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,product
3,Does it do a good job boosting signal outside?...,150.0,29.0,0.0,1.0,2.0,0.0,2.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,tech support
4,Does it do a good job boosting signal outside?...,150.0,29.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,product

In [157]:
total = pd.DataFrame(standard.sum(axis = 1))

In [158]:
review = info_score[['Review','Label']]

In [159]:
final = pd.concat([total,review],axis = 1)

In [161]:
final.to_csv('review_score.csv')